<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

    <main class="mainBody">
        <section>
            <p>404 Error! Oops page not found.</p>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>