<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>


        <%- include('../partials/header.ejs') %>
        

        <main class="mainBody">
            <section>
                <p>This is about page, It's the first blog page.</p>
            </section>
        </main>
        
        <%- include('../partials/footer.ejs') %>
    </body>
</html>