<html lang="en">
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="http://localhost:3000/static/css/blogs.css">
    <body>

        <%- include('../partials/header.ejs') %>

        <main class="mainBody"> 
            <section>
                <p>This is A blog, It's the first blog page.</p>
            </section>

            <div class="createBlog">

                <section class="formwrapper">

                    <form action="/blogs" class="form" method="POST">

                        <div>
                            <label for="title">Title: </label>
                            <input type="text" name="title" id="nameForm">
                        </div>
                        <div>
                            <label for="snippet">Snippet: </label>
                            <input type="text" name="snippet" id="emailForm">
                        </div>
                        <section  class="blogwrapper">
                            <h4>Create your own blog here</h4>
                            <br>
                            <label for="body">Body</label>
                            <textarea name="body" id="blogArea" placeholder="Hello, start from this line."></textarea>
                        </section>
    
                        <button id="submitform">Submit</button>
                        
                    </form>

                </section>

            </div>

        </main>
        
        <%- include('../partials/footer.ejs') %>

    </body>
</html>